html {
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #34383C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.error {
    color: red;
}

.greyarrow {
    color: #999999;
}

.greenarrow {
    color: green;
}

.redarrow {
    color: red;
}

.notlink {
    cursor: default;
}

#userpoints.badge-pill {
    font-size: 9px;
}

#commenttable {
    margin: 30px;
}

.commentsdata {
    font-size: 12px;
}

.commentstext {
    font-size: 13px;
}

.commentstitle {
    font-weight: normal;
    font-size: 14px;
}